* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

header {
  background-color: #99fadc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul {
  text-decoration: none;
}

#city-input {
  padding-top: 10px;
  padding-left: 10px;
}

#weather {
  padding-top: 10px;
  padding-left: 10px;
}

#save-city-btn {
  margin-top: 10px;
  padding: 5px
}

#forecast-card {
  border: 1px solid;
  padding: 10px;
  width: 150px;
}

#city {
  margin: 8px;
  font-size: 30px
}

#temperature {
  margin: 5px;
  font-size: 20px
}

#weather-conditions {
  font-size: 18px;
  margin: 3px;
  padding-top: 3px;
  padding-left: 10px
}

.btn {
  margin-top: 10px;
  padding: 5px
}